#more{

    height: 544px;
    width: 493px;
header{margin-block: 24px 24px;}
div{ 

figure{
    margin-block: 30px;
    p{display: inline;}
    img{
    width: 72px;
    height: 72px;
}}

}
   .img{width: 488px;
    height: 280px;
object-fit: cover;}
}